section{
  border: 1px solid #000;
  padding: 16px;
  margin-top: 50px;

  header{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
  }

  .btn-remove{
    background-color: limegreen;
  }
}

.task{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid grey;
  margin-top: 5px;
  margin-bottom: 5px;
}

.noTasks{
  margin-top: 10px;
}


