<section>
  <header>
    Tasks for: <strong appHighlight>{{getDate() | async | moment: 'DD.MM.YYYY'}}</strong>
  </header>
  <hr />
  <main>
    <ul *ngIf="tasks.length; else noTasks">
      <li class="task" *ngFor="let task of tasks; let i = index">
        <span>
          <strong>{{i+1}}</strong>
          {{task.TaskTitle}}
        </span>
        <button class="btn btn-remove" (click)="remove(task)">
          <span class="material-icons">
            done
          </span>
        </button>
      </li>
    </ul>

    <ng-template #noTasks>
      <p class="text-center noTasks">No tasks for today</p>
    </ng-template>
  </main>

  <footer>
    <form (ngSubmit)="submit()" [formGroup]="form">
      <input type="text" formControlName="TaskTitle" name="TaskTitle">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="form.invalid">Add</button>
    </form>
  </footer>
</section>
