
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$finalProject-primary: mat-palette($mat-indigo);
$finalProject-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$finalProject-warn: mat-palette($mat-red);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$finalProject-theme: mat-light-theme((
  color: (
    primary: $finalProject-primary,
    accent: $finalProject-accent,
    warn: $finalProject-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($finalProject-theme);

// глобальные стили для проекта

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

:root {                       // корневые переменные
  --primary-color: #dc3545;
  --dark-color: #333333;
  --light-color: #f4f4f4;

}

// стили для всего проекта
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  background: white;
  color: #333;
}

a {
  color: var(--primary-color);
  text-decoration: none;

  &:hover{
    color: #666;
  }
}

ul {
  list-style: none;
}

input {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 0.5rem;
}

.container{
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
}

table th {
  background: var(--light-color);
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s;
  outline: none;

  &:disabled { // псевдоселектор
    background: var(--dark-color);
    color: white;
    cursor: not-allowed;
  }

  &:hover:not(:disabled){
    opacity: 0.8;
  }
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary {
  background: var(--primary-color);
  color: white;
}

.text-center {
  text-align: center;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
